<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAlmostSurelyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53864/AlmostSurelyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlmostSurelyService"
                contract="AlmostSurelyServiceReference.IAlmostSurelyService"
                name="BasicHttpBinding_IAlmostSurelyService" />
        </client>
    </system.serviceModel>
</configuration>